node_modules
**/node_modules

dist
**/dist
.next
**/.next
out
**/out
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
.mobile-dev

.env
**/.env
**/.env.local
**/.env.e2e
**/.env.*.local

.git
.gitignore
Dockerfile*
docker-compose*.yml
docker-compose*.yaml

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

apps/web
*.tsbuildinfo
next-env.d.ts
